venv/
frontend/node_modules/
# frontend/dist/ # Descomentado para versionar artifacts de build e garantir deploy correto do Organograma
__pycache__/
*.pyc
app.log
app_server.log
.DS_Store

# Pastas de dados e logs
data/
logs/
secret.key
__pycache__/
