venv/
frontend/node_modules/
frontend/dist/
__pycache__/
*.pyc
app.log
app_server.log
.DS_Store

# Pastas de dados e logs
data/
logs/

# Arquivos específicos para garantir que não sejam rastreados
data/flask_secret.key
data/secret.key
logs/ad_creator.log
secret.key
