services:
  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - TZ=America/Sao_Paulo
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
    restart: unless-stopped
    container_name: ad_manager_web

  scheduler:
    build: .
    environment:
      - TZ=America/Sao_Paulo
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
    # O comando agora apenas inicia o cron em primeiro plano. A configuração é feita no Dockerfile.
    command: cron -f
    restart: unless-stopped
    container_name: ad_manager_scheduler
