version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
    restart: unless-stopped
    container_name: ad_manager_web

  scheduler:
    build: .
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
    # O comando copia a definição do crontab, define as permissões corretas e inicia o cron.
    command: >
      bash -c "crontab scheduler/crontab && chmod 0644 /var/spool/cron/crontabs/root && cron -f"
    restart: unless-stopped
    container_name: ad_manager_scheduler
