/* Usa a largura do modal de edição para consistência */
.move-modal {
    width: 900px;
}

/* Container para a árvore dentro do modal */
.tree-container-modal {
    height: 400px; /* Altura fixa para o container da árvore */
    overflow-y: auto; /* Adiciona rolagem vertical se a árvore for grande */
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 15px;
    background-color: var(--input-background); /* Fundo sutilmente diferente */
}

/* Estilo para o nó selecionado na árvore do modal */
.node-label.selected {
    background-color: var(--primary-color);
    color: white;
}

.node-label.selected i {
    color: white;
}
