# Definição do crontab para executar o schedule_manager.py

# m h  dom mon dow   command
0 4,15 * * * /usr/bin/flock -n /tmp/cron.lockfile /app/venv/bin/python /app/schedule_manager.py >> /app/logs/cron.log 2>&1

# Uma linha em branco no final é necessária para o cron
