
.modal-content.large {
    max-width: 800px;
}

/* Garante que o dropdown de busca apareça sobre outros elementos */
.search-results-dropdown {
    position: absolute;
    z-index: 1055; /* Maior que o z-index do modal-backdrop */
    width: calc(100% - 2rem); /* Ajusta a largura para o padding do modal-body */
    max-height: 200px;
    overflow-y: auto;
    border-top: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
